html {
 /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
 font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body,
ul,
li,
h1 {
 margin: 0;
 padding: 0;
 list-style: none;
}

a {
 color: inherit;
 text-decoration: none;
}

label[for] {
 cursor: pointer;
 user-select: none;
}

/* 라이브러리 */

/* lib */
.overflow-hidden {
 overflow: hidden;
}

.border-red {
 border: 4px solid red;
}

.border-pink {
 border: 4px solid pink;
}

.border-blue {
 border: 4px solid blue;
}

.border-green {
 border: 4px solid green;
}

.border-black {
 border: 4px solid black;
}

.border-gold {
 border: 4px solid gold;
}

.flex {
 display: flex;
}

.flex-jc-e {
 justify-content: flex-end;
}

.flex-jc-s {
 justify-content: flex-start;
}

.flex-jc-c {
 justify-content: center;
}

.flex-jc-sa {
 justify-content: space-around;
}

.flex-jc-sb {
 justify-content: space-between;
}

.flex-ai-c {
 align-items: center;
}

.flex-as-c {
 align-self: center;
}

.flex-grow-1 {
 flex-grow: 1;
}

.height-100p {
 height: 100%;
}

.block {
 display: block;
}

.con {
 margin-left: auto;
 margin-right: auto;
}

.img-box > img {
 width: 100%;
 display: block;
}

.relative {
 position: relative;
}

.text-align-center {
 text-align: center;
}

.strong {
 font-weight: bold;
}

.black {
 color: black;
}

/* cos */
.con {
 width: 1080px;
}

::selection {
 background-color: #fede22;
}

.con-min-width {
 min-width: 1080px;
}

/* cos lib */
.ico {
 width: 24px;
 height: 24px;
 display: inline;
 background-image: url(https://www.kakaobank.com/static/images/web/img_kabang_220615.png);
}

.icon-1 {
 background-position: -341px -292px;
}

.icon-2 {
 background-position: -371px -292px;
}

/* 탑바 시작 */
body {
 padding-top: 100px;
}

.top-bar {
 position: fixed;
 left: 0;
 top: 0;
 width: 100%;
 height: 100px;
 background-color: white;
 border-bottom: 1px solid #afafaf;
 z-index: 100;
}

/* 탑바 로고 */
.top-bar .logo {
 padding: 0 20px;
}

/* 탑바 - 메뉴박스1 */
.top-bar .menu-box-1 {
 margin-right: 30px;
}

.top-bar .menu-box-1 > ul > li > a {
 padding: 0 20px;
 position: relative;
}

.top-bar .menu-box-1 ul > li > a:hover {
 text-decoration: underline;
}

.top-bar .menu-box-1 > ul > li > a::after {
 content:"";
 position: absolute;
 bottom: -1px;
 left: 0;
 width: 0;
 height: 1px;
 border-top: 2px solid black;
}

.top-bar .menu-box-1 > ul > li:hover > a::after {
 width: 100%;
}

/* 탑바 - 메뉴박스1 - 2차 메뉴 */
.top-bar .menu-box-1 > ul > li > div {
 width: 100%;
 left: 0;
 background-color: white;
 position: absolute;
 display: none;
 top: calc(100% + 1px);
 padding-top: 30px;
 padding-bottom: 50px;
}

.top-bar .menu-box-1 > ul > li:hover > div {
 display: block;
}

.top-bar .menu-box-1 > ul > li > div > .con > ul > li {
 width: 20%;
 font-size: 17px;
}

.top-bar .menu-box-1 > ul > li:nth-child(1) > div > .con > ul > li {
 width: 35%;
}

.top-bar .menu-box-1 > ul > li > div > .con > ul > li > a {
 text-align: center;
 padding: 30px 0;
 font-weight: bold;
}

.top-bar .menu-box-1 > ul > li > div > .con > ul > li:hover > a {
 text-decoration: ;
}

.top-bar .menu-box-1 > ul > li > div > .con > ul > li > .mini {
 margin-top: 5px;
}

.top-bar .menu-box-1 > ul > li > div > .con > ul > li > ul > li > a {
 text-align: center;
 padding: 20px 0;
}

/* 탑바 - 서류제출 버튼 */
.top-bar .btn-go-submit {
 background-color: #fede22;
 padding: 15px 20px;
 font-weight: 400;
 border-radius: 25px;
}
/* 탑바 끝 */

/* 상단 배너박스 1 시작 */
.top-banner-box-1 {
 position: relative;
}

.top-banner-box-1 .bg {
 height: 648px;
 background-color: #ffef6b;
 position: absolute;
 top: 0;
 left: 0; 
 width: 100%;
 z-index: -1;
}

/* 상단 배너박스 1 - 텍스트 박스 */
.top-banner-box-1 .txt-box {
 position: absolute;
 top: 110px;
 left: 50px;
}

.top-banner-box-1 .txt-box > h1 {
 font-size: 49px;
 line-height: 60px;
 color: #333;
 padding-bottom: 10px;
}

.top-banner-box-1 .txt-box > h2 {
 color: #111;
 font-size: 16px;
 font-weight: 300;
 line-height: 30.6px;
}

.top-banner-box-1 .txt-box > .btns {
 margin-top: 40px;
}

.top-banner-box-1 .txt-box > .btns > li:not(:first-child) {
 margin-left: 10px;
}

.top-banner-box-1 .txt-box > .btns > li > a {
 background-color: white;
 display: flex;
 white-space: nowrap;
 width: 178px;
 height: 56px;
 border-radius: 12px;
 font-size: 17px;
 font-weight: 500;
 color: #333;
 justify-content: center;
 align-items: center;
}

.top-banner-box-1 .txt-box > .btns > li > a > .ico {
 margin-right: 10px;
}

.top-banner-box-1 .txt-box > .btns > li:hover > a {
 text-decoration: underline;
}
/* 상단 배너박스 1 끝 */

/* 상단 배너박스 타입1 시작 */
.top-banner-box-type-1 {
 margin-top: 50px;
 min-height: 500px;
 display: flex;
 padding-bottom: 30px;
}

.top-banner-box-type-1 > div:first-child {
 width: 55%;
 display: flex;
 align-items: center;
}

.top-banner-box-type-1 > div:last-child {
 flex-grow: 1;
 display: flex;
 align-items: center;
}

.top-banner-box-type-1 .txt-box > h1 {
 font-size: 40px;
 line-height: 1.35;
}

.top-banner-box-type-1 .txt-box > .des {
 margin-top: 24px;
 font-size: 16px;
 font-weight: 400;
 line-height: 1.6;
 color: #666;
}

.top-banner-box-type-1 .txt-box > .btn-box {
 display: flex;
 margin-top: 40px;
}

.top-banner-box-type-1 .txt-box > .btn-box > a {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #f6f6f6;
 width: 258px;
 height: 56px;
 font-size: 16px;
 color: #333;
 border-radius: 10px;
 text-align: center;
}

.top-banner-box-type-1 .txt-box > .btn-box > a:hover > span {
 text-decoration:underline;
}

.top-banner-box-type-1 .txt-box > .btn-box > a::after {
 content: ">";
 margin-left: 10px;
 margin-top: 3px;
}

.top-banner-box-type-1 .txt-box > .btn-box > a:not(:only-child) {
 width: 158px;
}

.top-banner-box-type-1 .txt-box > .btn-box > a:not(:last-child) {
 margin-right: 7px;
}

.top-banner-box-type-1-between-pad {
 height: 20px;
 background-color: #fafafa;
}
/* 상단 배너박스 타입1 끝 */

/* 상단 배너박스 2 시작 */
.top-banner-box-2 > div:first-child > * {
 margin-left: 40px;
}

.top-banner-box-2 > div:last-child > * {
 margin-left: 40px;
}

.top-banner-box-2 .img-box {
 width: 473px;
}
/* 상단 배너박스 2 끝 */

/* 상단 배너박스 3 시작 */
.top-banner-box-3 > div:first-child > * {
 margin-left: 70px;
}

.top-banner-box-3 > div:last-child > * {
 margin-left: 70px;
}

.top-banner-box-3 .txt-box > .img-box-1 {
 margin-top: 30px;
}

.top-banner-box-3 .txt-box > .img-box-1 > img {
 width: 440px;
}

.top-banner-box-3 .img-box {
 width: 409px;
}

.top-banner-box-3 .img-box > img {
 transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1), opacity 1s;
 opacity: 0;
 transform: translateX(100%);
}

.top-banner-box-3 .img-box.active > img {
 opacity: 1;
 transform: translateX(0);
}
/* 상단 배너박스 3 끝 */

/* 상단 배너박스 4 시작 */
.top-banner-box-4 > div:first-child > * {
 margin-left: 70px;
}

.top-banner-box-4 > div:last-child > * {
 margin-left: 40px;
}

.top-banner-box-4 .img-box {
 width: 459px;
}
/* 상단 배너박스 4 끝 */

/* 상단 배너박스 5 시작 */
.top-banner-box-5 > div:first-child > * {
 margin-left: 150px;
}

.top-banner-box-5 > div:last-child > * {
 margin-right: -10px;
}

.top-banner-box-5 .img-box {
 width: 492px;
}
/* 상단 배너박스 5 끝 */

/* 상단 배너박스 6 시작 */
.top-banner-box-6 > div:first-child > * {
 margin-left: 100px;
}

.top-banner-box-6 > div:last-child > * {
 margin-left: 40px;
}

.top-banner-box-6-wrap {
 background-image: url(https://www.kakaobank.com/static/images/web/home_map.png);
 background-repeat: no-repeat;
 background-position: 0 50%;
}

.top-banner-box-6 .img-box {
 width: 408px;
}

.top-banner-box-6 .img-box > img {
 transition: transform 1s cubic-bezier(0.6, 0.2, 0.1, 1), opacity 1s;
 transform: translateY(100%);
 opacity: 0;
}

.top-banner-box-6 .img-box.active > img {
 transform: translateY(0);
 opacity: 1;
}
/* 상단 배너박스 6 끝 */

/* 대출박스 시작 */
.loan-box {
 background-color: #333b58;
 position: relative;
 color: white;
 padding-top: 150px;
}

.loan-box > .con {
 position: relative;
 z-index: 1;
}

.loan-box > .sky {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
}

.loan-box > .sky > .blue {
 background-color: #559cde;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 transition: height .7s;
}

.loan-box.active > .sky > .blue {
 height: 0;
}

.loan-box > .sky > .moon {
 width: 112px;
 height: 112px;
 position: absolute;
 left: calc(50% + 450px);
 top: 180px;
 overflow: hidden;
}

.loan-box > .sky > .moon > .base {
 width: 110px;
 height: 110px;
 background-color: #ffdc00;
 border-radius: 50%;
 transition:background-color 1s;
}

.loan-box.active > .sky > .moon > .base {
 background-color:white;
}

.loan-box > .sky > .moon > .shadow {
 width: 100%;
 height: 100%;
 position: absolute;
 top: -100%;
 left: -100%;
 border-radius: 50%;
 transition: top .5s .3s, left .5s .3s;
}

.loan-box.active > .sky > .moon > .shadow {
 top: -25%;
 left: -25%;
 background-color:#333b58;
}

/* 대출박스 - 별 시작 */
.loan-box > .sky .ico-star {
 position: absolute;
 width: 4px;
 height: 4px;
 border-radius: 4px;
 background-color: #fff;
}

.loan-box > .sky .ico-star-1 {
 top: 30%;
 left: 10%;
}

.loan-box > .sky .ico-star-2 {
 top: 10%;
 left: 20%;
}

.loan-box > .sky .ico-star-3 {
 top: 25%;
 left: 15%;
}

.loan-box > .sky .ico-star-4 {
 top: 40%;
 right: 15%;
}

.loan-box > .sky .ico-star-5 {
 top: 43%;
 right: 30%;
}

.loan-box > .sky .ico-star-6 {
 top: 73%;
 right: 27%;
}

.loan-box > .sky .ico-star-7 {
 top: 65%;
 left: 22%;
}

@keyframes clittering {
 0% {
   opacity: 0;
   transform: scale(0.5);
 }
 50% {
   opacity: 1;
   transform: scale(0.9);
 }
 100% {
   opacity: 0;
   transform: scale(0.5);
 }
}

.loan-box > .sky .ico-star-1 {
 animation: clittering 2s infinite;
}

.loan-box > .sky .ico-star-2 {
 animation: clittering 3s infinite;
}

.loan-box > .sky .ico-star-3 {
 animation: clittering 5s infinite;
}

.loan-box > .sky .ico-star-4 {
 animation: clittering 2s infinite;
}

.loan-box > .sky .ico-star-5 {
 animation: clittering 4s infinite;
}

.loan-box > .sky .ico-star-6 {
 animation: clittering 1.8s infinite;
}

.loan-box > .sky .ico-star-7 {
 animation: clittering 3.5s infinite;
}

/* 대출박스 - 별 끝 */

.loan-box > .con > h1 {
 font-size: 40px;
}

.loan-box > .con > .des {
 font-size: 15px;
 margin-top: 20px;
 opacity: 0.6;
}

.loan-box > .con .menu-box-1 {
 margin-top: 20px;
}

.loan-box > .con .menu-box-1 > ul > li > a {
 display: block;
 padding: 14px;
 background-color: rgba(255, 255, 255, 0.09);
 border-radius: 10px;
}

.loan-box > .con .menu-box-1 > ul > li > a::after {
 content: " >";
}

.loan-box > .con .menu-box-1 > ul > li:hover > a > span {
 text-decoration: underline;
}

.loan-box > .con .menu-box-1 > ul > li {
 margin: 0 3px;
}

.loan-box > .con > .img-box-1 > img {
 display: block;
 width: 429px;
 margin-left: auto;
 margin-right: auto;
}

.loan-box > .con > .img-box-1 {
 margin-top: 20px;
}
/* 대출박스 끝 */

/* 체크카드박스 시작 */
.checkcard-box {
 padding-top: 150px;
 padding-bottom: 150px;
}

.checkcard-box > .con > h1 {
 font-size: 40px;
 line-height: 1.35;
}

.checkcard-box > .con > .des {
 margin-top: 24px;
 font-size: 15px;
 color: #666;
}

.checkcard-box .btn-box {
 display: flex;
 margin-top: 40px;
 justify-content: center;
}

.checkcard-box .btn-box > a {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #f6f6f6;
 width: 258px;
 height: 56px;
 font-size: 16px;
 color: #333;
 border-radius: 10px;
}

.checkcard-box .btn-box > a:hover > span {
 text-decoration: underline;
}

.checkcard-box .btn-box > a::after {
 content: ">";
 margin-left: 10px;
}

.checkcard-box .slider-box-1 {
 margin-top: 70px;
 position: relative;
 width: 720px;
 margin-left: auto;
 margin-right: auto;
}

.checkcard-box .slider-box-1 .slick .item {
 transition: transform 0.3s;
}

.checkcard-box .slider-box-1 .slick .item > .img-box {
 padding-top: 40px;
 padding-bottom: 40px;
}

.checkcard-box .slider-box-1 .slick .item.slick-center {
 transform: scale(1.2);
}

.checkcard-box .slider-box-1 .arrows > .btn-arrow {
 position: absolute;
 top: 50%;
 right: calc(100% + 90px);
 transform: translateY(-50%);
 cursor: pointer;
}

.checkcard-box .slider-box-1 .arrows > .btn-arrow.btn-arrow-right {
 left: calc(100% + 90px);
 right: auto;
}
/* 체크카드박스 끝 */

/* IT기술박스 시작 */
.itskill-box {
 padding-top: 150px;
 padding-bottom: 170px;
 background-color: #f9f9f9;
 position: relative;
 z-index: 1;
}

.itskill-box > .con > h1 {
 color: #111;
 font-size: 40px;
 line-height: 1.35;
}

.itskill-box > .con > .divider {
 margin-top: 50px;
 height: 2px;
 display: flex;
 justify-content: center;
}

.itskill-box > .con > .divider::after {
 content: "";
 display: block;
 height: 100%;
 width: 100px;
 background-color: black;
}

.itskill-box > .con > .info-box {
 margin-top: 100px;
 margin-left: 30px;
 margin-right: 30px;
}

/* 방법 0 
.itskill-box::before {
 content: "";
 position: absolute;
 top: 532px;
 left: 0;
 width: 100%;
 height: 2px;
 background-color: #eee;
 z-index: -1;
} 
+ .itskill-box { position: relative; } 까지 해야함.
*/

/* 방법 1 */
.itskill-box > .con > .info-box::before {
 content: "";
 position: absolute;
 left: 0;
 width: 100%;
 height: 2px;
 background-color: #eee;
 transform: translateY(123px);
 z-index: -1;
}

.itskill-box > .con > .info-box > ul > li {
 width: 268px;
}

.itskill-box > .con > .info-box > ul > li.flex-grow-1 {
 width: auto;
}

.itskill-box > .con > .info-box > ul > li:nth-child(2){
 margin-left: -25px;
}

.itskill-box > .con > .info-box > ul > li > h1 {
 font-size: 18px;
 text-align: center;
 margin-top: 50px;
}

.itskill-box > .con > .info-box > ul > li > .des {
 font-size: 14px;
 text-align: center;
 margin-top: 20px;
 color: #666;
 font-weight: 300;
}
/* IT기술박스 끝 */

/* 하단바 시작 */
.bottom-bar {
 background-color: #eee;
 padding: 37px 0;
 font-family: "돋움", dotum, sans-serif;
 font-size: 11px;
 color: #666;
}

.bottom-bar .box-1 > .menu-box-1 > ul > li:hover > a {
 text-decoration: underline;
}

.bottom-bar .box-2 {
 margin-top: 10px;
}

.bottom-bar .box-2 > .menu-box-1 > ul > li > a {
 margin-right: 30px;
}

.bottom-bar .box-2 > .menu-box-1 > ul > li:hover > a {
 text-decoration: underline;
}

.bottom-bar .box-3 {
 margin-top: 20px;
 color: #888;
 font-size: 12px;
}

.bottom-bar .box-3 .rep-contact {
 margin-left: 10px;
}

.bottom-bar .box-3 .global-contact {
 margin-left: 10px;
}

.bottom-bar .box-4 {
 margin-top: 8px;
}

.bottom-bar .box-5 {
 margin-top: 15px;
}

.bottom-bar .box-5 .web-aq-auth > img {
 width: 48px;
}

.bottom-bar .box-5 span {
 font-size: 13px;
 font-weight: 600;
 color: #666;
 margin-left: 7px;
 cursor: pointer;
}

.bottom-bar .box-5 .web-t-auth {
 margin-left: 20px;
}

.bottom-bar .box-5 .web-t-auth > img {
 width: 42px;
}

.bottom-bar .box-5 > .menu-box-2 > ul > li {
 margin-left: 10px;
}

/*
.bottom-bar .box-5 > .menu-box-2 > ul > li:first-child {
 margin-right: -5px;
}
*/

.bottom-bar .box-5 > .menu-box-2 > ul > li > a {
 width: 24px; 
 height: 24px;
}

.bottom-bar .box-5 > .menu-box-2 > ul > li:nth-child(1) > a {
 margin-left: 5px;
}

.bottom-bar .box-5 > .menu-box-2 > ul > li:nth-child(2) > a {
 margin-left: -2px;
}

.bottom-bar .box-5 > .menu-box-2 > ul > li:nth-child(3) > a {
 margin-left: 5px;
}

.bottom-bar .box-5 > .menu-box-2 > ul > li:nth-child(4) > a {
 margin-left: 5px;
}

.bottom-bar .box-5 > .menu-box-2 > ul > li > a > span {
 background-color: ;
 height: 100%;
 width: 24px;
 margin-left: auto;
 margin-right: auto;
}

.ico-2 {
 background-image: url(https://www.kakaobank.com/static/images/web/ico_sns.png);
}

.ico-2.ico-2-facebook {
 background-position: 0px -90px;
}

.ico-2.ico-2-instagram {
 background-position: -191px -138px;
}

.ico-2.ico-2-youtube {
 background-position: -90px -90px;
}

.ico-2.ico-2-brunch {
 background-position: -217px -138px;
}
/* 하단바 끝 */